block vars 
	- var title = '';
	- var lang = '';
	- var type = '';
	- var description = '';
	- var siteName = '';
	- var keywords = '';
	- var url = '';
	- var imageLogo = '';
	- var typeImage = '';
	- var widthImage = '';
	- var heightImage = '';
	- var favicon = '';
	- var font = '';
	- var light = '';
	- var dark = '';
doctype html
html(lang=lang)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content=description)
		link(rel="preload" href=font as="font" type="font/woff2" crossorigin)
		link(rel="shortcut icon" href=favicon type="image/png")
		link(rel="stylesheet" href="css/style.min.css")
		//- script function tes(){var A=document.querySelector("html");if(null!==A){var a=function(a,e){if(a<2)return A.classList.add("no-"+e);A.classList.add(e)},e=new Image;e.onload=e.onerror=function(){return a(e.height,"avif")},e.src="data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUIAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAAAB0AAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAAIAAAACAAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgQ0MAAAAABNjb2xybmNseAACAAIAAYAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAAACVtZGF0EgAKCBgANogQEAwgMg8f8D///8WfhwB8+ErK42A=";var B=new Image;B.onload=B.onerror=function(){return a(B.height,"webp")},B.src="data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA"}}tes();
		title #{title}
	body
		block content
