//- +svg('', '', '', 'currentColor')
mixin svg(name, width, height, fill, stroke)
  svg(class=name, style=`width: ${width}px; height: ${height}px; fill: ${fill}; stroke: ${stroke};`) 
    use(xlink:href=`img/icons/icons.svg#svg-${name}`)
